<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Wachttijd</title>
</head>
<body>
    <div>
    <div class="tent">
        <img  id="wildlands" src="/static/wildlands-logobalk.png" alt="" width="700">
        <pre class="text">
            <h2>
                u moet nog:
                
                {{Wachttijd}} minuten
                
                wachten
            </h2>
        </pre>

    </div>
</div>

</body>
</html>