<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <title>Wachttijd</title>
</head>
<body>

    <div class="tent">
        <img  id="wildlands" src="/static/wildlands-logobalk.png" alt="" width="700">
        <pre class="text">
            <h2>
                u moet nog:
                
                <big>{{wachttijd}}</big> minuten
                
                wachten
            </h2>
        </pre>

        <div class="overzicht">
            <span id="bussen">🚎:  {{bussen}}</span> <br>
            <span id="personen">🧍‍♂️: {{aantal_personen}}</span>
        </div>

        <span class="power">Powered by Q-Experience</span>
    </div>


</body>
</html>