<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <title>Wachttijd</title>
</head>
<body>
    <div>
    <div class="tent">
        <img  id="wildlands" src="/static/wildlands-logobalk.png" alt="" width="700">
        <pre class="text">
            <h2>
                u moet nog:
                
                <big>{{wachttijd}}</big> minuten
                
                wachten
            </h2>
        </pre>


        <span class="power">Powered by Q-Experience</span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    function updateWachttijd(){
        $.get("/api/wachttijd", function(data){
            $("#wachttijd").text(data.wachttijd);
        });
    }
    setInterval(updateWachttijd, 10000);
</script>

</body>
</html>